<div class="container">
    <div class="row" style="padding-bottom: 20px; padding-top: 20px">
      <div class="col-sm-4 demo">
        <a routerLink="/Lenses" style="text-decoration: none;cursor:pointer" class="effect-underline " (click)="setCategory('lenses')">
          <h4 class="none">Lenses</h4>
        </a>
      </div>
      <div class="col-sm-4 demo">
        <a  routerLink="./Sunglass" (click)="setCategory('sunglasses')" style="text-decoration: none; cursor:pointer" class="effect-underline">
          <h4 class="none">Sunglasses</h4>
        </a>
      </div>
      <div class="col-sm-4 demo">
        <a routerLink="./Eyeglass"  (click)="setCategory('eyeglasses')" style="text-decoration: none; cursor:pointer" class="effect-underline">
          <h4 class="none">Eyeglasses</h4>
        </a>
      </div>
    </div>