<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" style="cursor:pointer" routerLink="./Home">Eyekart</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <div class="col-lg-2">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="./Men" style="cursor:pointer">Men<span class="sr-only">(current)</span></a>
                  </li>
            </div>
           <div class="col-lg-2">
              <li class="nav-item">
                  <a class="nav-link" routerLink="./Women" style="cursor:pointer">Women</a>
                </li>
           </div>
           <div class="col-lg-2">
              <li class="nav-item">
                  <a class="nav-link" routerLink="./Kids" style="cursor:pointer">Kids</a>
                </li>
           </div>
            <div class="col-lg-10 col-sm-10">
                <form class="navbar-form" role="search">
                  <div class="input-group" style=" width: 100%;">
                    <input type="text" class="form-control" placeholder="Search" name="q">
                    <div class="input-group-btn">
                      <button class="btn btn-default" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                  </div>
                </form>
              </div>
          </ul>
          <ul class="nav navbar-nav navbar-right" style="position: absolute;right: 0;padding:25px;">
              
                  <li><a class="nav-link" routerLink="./Signup" style="cursor:pointer">
                    Signup 
                    <i class="fa fa-user-plus" aria-hidden="true"></i></a>
                  </li>
              
              <li><a class="nav-link" routerLink="./Signin" style="cursor:pointer"> Signin <i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
              
              <li>
                <a class="nav-link" style="cursor:pointer">
                  Cart
                  <i class="fa fa-shopping-cart" aria-hidden="true">
                    </i>
                    <span class="badge badge-pill badge-danger" style="background-color:red;color:white">
                      <!-- {{this.noOfProductsInCart}} -->
                    </span>
                  </a>
                </li>
            </ul>
        </div>
    </div>
  </nav>

 

 
  