h4{
	color: grey;
}
.demo{
	text-align: center;
}
a.effect-underline:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 0em;
  width: 96%;
  border-bottom: 1px solid;
  margin-top: 0px;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition:opacity 0.35s, -webkit-transform 0.35s;
	transition:opacity 0.35s, transform 0.35s;
	transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
	-webkit-transform: scale(0,1);
    transform: scale(0,1);
    
}

a.effect-underline:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

.collapse navbar-collapse .nav-item
{
    padding: 15em;
}