 /* $lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
} */

/* .footer{ */

    /* background-color: $background-pale; */
    /* @include zero-margin(20px, 0px); */
/* } */


.footer
{
    background-color:#343a40!important;
    color: white;
}

.address
{
    font-size:80%;
    margin: 0px;
color:rgb(238, 233, 247)!important;
}


.btn-facebook {color:#fff!important; background-color:rgb(16, 29, 29)!important;}
.btn-google-plus{color:#fff!important;background-color:#471e19!important;}
.btn-youtube{color:#fff!important;background-color:#ff4b39!important;}
.btn-linkedin{color:#fff!important;background-color:#2f3538!important;}
.btn-twitter{color:#fff!important;background-color:#55acee!important;}
.btn-mail{color:#fff!important;background-color:rgb(32, 30, 37)!important;}


ul .list-unstyled
{
    text-decoration-color: #fff!important;
}