<main class="mt-5 pt-4">
  <div class="container dark-grey-text mt-5 " *ngIf="product">

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <img [src]="getImage(product.image)" class="img-fluid" alt="">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <!--Content-->
        <div class="p-4">

          <div class="mb-3">
            <a href="">
              <span class="badge purple mr-1">Category 2</span>
            </a>
            <a href="">
              <span class="badge blue mr-1">New</span>
            </a>
            <a href="">
              <span class="badge red mr-1">Bestseller</span>
            </a>
          </div>

          <p class="lead">
            <span class="mr-1">
              <del>{{product.price}}</del>
            </span>
            <span>{{product.price}}</span>
          </p>

          <p class="lead font-weight-bold">Product Description</p>

          <p>Flaunt the classic retro wayfarer look with the bold and stylish VC 5030 Sunsetters Black Blue C2 Wayfarer Sunglasses. It adds a great edge to your entire ensemble and offers complete eye protection from the harmful UV rays.

            .</p>

          <form class="d-flex justify-content-left">
            <!-- Default input -->
            <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
            <!-- <button class="btn btn-primary btn-md my-0 p" type="submit">Add to cart
              <i class="fa fa-shopping-cart ml-1"></i>
            </button> -->
            <a routerLink="/cart"class="btn btn-success pull-right" role="button">
            Add to Shopping Cart <i class="fa fa-shopping-cart ml-1"></i>
                       </a>

          </form>

        </div>
        <!--Content-->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <hr>

    <!--Grid row-->
    <div class="row d-flex justify-content-center wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 text-center">

        <h6 class="my-4 h4">Description:</h6>
        <ul class="list-group">
          <li class="list-group-item">Acetate frame</li>
          <li class="list-group-item">100% UV protection (UV 400)</li>
          <li class="list-group-item">Broad temples</li>
          <li class="list-group-item">Eliminates glare</li>
          <li class="list-group-item">Protects eyes from dust and wind</li>
        </ul>

      </div>
      <div class="col-md-6 text-center">

        <h6 class="my-4 h4">Size and Fit:</h6>
        <ul class="list-group">
          <li class="list-group-item">Fits Face Size: Medium</li>
          <li class="list-group-item">Bridge Size: 23 mm</li>
          <li class="list-group-item">Temple Size: 153 mm</li>
          <li class="list-group-item">Eye Size: 50 mm</li>
          <li class="list-group-item">Frame Colour: Black</li>
          
        </ul>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <!--Grid row-->
    <div class="row wow fadeIn">

      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">

        <img [src]="getImage(product.image1)" class="img-fluid" alt="">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <img [src]="getImage(product.image2)" class="img-fluid" alt="">

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">

        <img [src]="getImage(product.image)" class="img-fluid" alt="">

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
</main>
