.carousel-inner .carousel-item {
    height: 500px;
  }
  
  .item img {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
  }

  .carousel-caption
  {
    font-size: 4em;
    font-family: 'Courier New', Courier, monospace;
    /* line-height: 2em; */
    height: 5em;
    /* display: table-cell; */
    /* vertical-align: -webkit-baseline-middle ; */
    /* background-color: #ededed; */
  margin: auto;
  padding:auto;
  

  }

  .container
  {
      margin:10px auto;
      padding:0px 0px 0px 0px;
  }

  .parallax {
    /* The image used */
    background-image: url('https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?cs=srgb&dl=background-blur-clean-531880.jpg&fm=jpg');
  
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }